<a href="https://colab.research.google.com/github/JakeReas/21_days_Anirudha_Kulkarni/blob/main/Pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Pandas?

Pandas is one of the most important libraries of Python. Pandas is a software library written for the Python programming language for data manipulation and analysis(Refer for documentation https://pandas.pydata.org/docs/reference/series.html ) . Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively. Not only is the pandas library a central component of the data science toolkit but it is used in conjunction with other libraries in that collection.
</br>
Pandas is built on top of the NumPy package, meaning a lot of the structure of NumPy is used or replicated in Pandas. Data in pandas is often used to feed statistical analysis in SciPy, plotting functions from Matplotlib, and machine learning algorithms in Scikit-learn.
</br>
Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional, i.e. it consists of rows and columns.

To install Pandas, you can use "pip install pandas"

In [ ]:
import pandas as pd # Let's import pandas with pd, normally use pd as alias

In [ ]:
pd.__version__ # To print the installed vesion pandas

'1.4.2'

# Series Data Structure

The primary two components of pandas are the Series and DataFrame.

A **Series** is essentially a column, and a **DataFrame** is a multi-dimensional table made up of a collection of Series.
![series-and-dataframe.width-1200.png]()

DataFrames and Series are quite similar in that many operations that you can do with one you can do with the other, such as filling in null values and calculating the mean.

A pandas Series is a one-dimensional labelled data structure which can hold data such as strings, integers and even other Python objects. It is built on top of numpy array and is the primary data structure to hold one-dimensional data in pandas.

In Python, a pandas Series can be created using the constructor pandas.Series().

**Syntax**

pandas.Series(data=None, index=None, dtype=None, name=None, copy=False)

**Parameters** 

**data**
 - array or dict or scalar value or iterables (default:None). It is used to populate the rows of the Series object.

**index**
 - array or index (default: None). It is used to label the rows of the Series. It’s length must be the same as the object passed in the data parameter and all the values must be unique. It’s default value is ‘None’ but if the index parameter is not passed then a range of integer values from zero to one less than the total number of rows in the data object will be considered as the index.

**dtype**
 - String or numpy.dtype or ExtensionDtype (default: None). It is used to specify the data type of the Series which will be formed. If this parameter is not specified then the data type will be inferred from the values present in the series

**name**
 - String (default: None). It is used to give a name to the Series

**Copy - Boolean(default: False)**
- It is used to copy the input data

In [ ]:
obj=pd.Series([1,"John",3.5,"Hey"])  # creating Series
obj

In [ ]:
obj[0]

In [ ]:
obj.values

In [ ]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"]) # Making a series with a defined index
obj2

In [ ]:
obj2["b"]

In [ ]:
obj2.index

In [ ]:
# Create the series from array
import numpy as np
data_nparray = np.array(
    ['Jeff Bezos', 'Elon Musk', 'Bernard Arnault', 'Bill Gates', 'Warren Buffett'])

series = pd.Series(data=data_nparray)
series

Similarly you can create Series from tuple, list, dictionary, arange

In [ ]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) # Dictionary convert to Series 
names

In [ ]:
names["Tim"] # accessing with row label

In [ ]:
names[0]  # accessing with by default index

In [ ]:
names[names>=85]

In [ ]:
names["Tom"]=60    # modifying value
names

In [ ]:
names[names<=80]=83
names

In [ ]:
"Tom" in names

In [ ]:
"Can" in names

In [ ]:
names/10

In [ ]:
names**2

In [ ]:
names.isnull()

# Working with Series Data Structure

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
games=pd.read_csv("/content/drive/MyDrive/Python_DataSets/vgsalesGlobale.csv")

In [ ]:
# from google.colab import drive
# drive.flush_and_unmount()

Let's practice using a real data set. You can download data set from https://www.kaggle.com/melodyxyz/global.

In [ ]:
games=pd.read_csv("/vgsalesGlobale.csv")

In [ ]:
games.head() # Display by default top 5 records, provide n=7

In [ ]:
games.dtypes

The **describe()** method returns description of the data in the DataFrame. If the DataFrame contains numerical data, the description contains these information for each column:

count - The number of not-empty values.

mean - The average (mean) value.

std - The standard deviation.

When describing categorical data, we get the count of non-null occurrences (count), the number of unique values (unique), the mode (top) and the number of times the mode was observed (freq).

Also, note that the describe() method ignores missing values when calculating the summary statistics.

In [ ]:
games.Genre.describe()

In [ ]:
games.Global_Sales.describe()

**value_counts() - Return a Series containing counts of unique rows in the DataFrame.**

**Syntax**
DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

In [ ]:
games.Genre.value_counts() # Return a Series containing counts of unique rows in the DataFrame.

Refer https://pandas.pydata.org/docs/reference/series.html for more details

In [ ]:
games.Genre.value_counts(normalize=True) # Return proportions rather than frequencies.

In [ ]:
type(games.Genre.value_counts())

In [ ]:
games.Genre.value_counts().head()

In [ ]:
games.Genre.unique() # Return unique values of Series object.

In [ ]:
games.Genre.nunique() # Return number of unique values

![crosstab_cheatsheet.png]()

Source: https://pbpython.com/pandas-crosstab.html

In [ ]:
pd.crosstab(games.Genre, games.Year) # refer https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html

In [ ]:
games.Global_Sales.mean()

In [ ]:
games.Global_Sales.value_counts()

In [ ]:
games.Year.plot(kind="hist") # refer https://pandas.pydata.org/docs/reference/api/pandas.Series.plot.html

In [ ]:
s=pd.Series(["b","b","b","b","c",
             "c","a","a","a"])
s

In [ ]:
s.unique()

In [ ]:
s.value_counts()

In [ ]:
x=s.isin(["b","c"])
x

In [ ]:
s[x]

# DataFrame

## What is DataFrame?

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Syntax:

DataFrame([data, index, columns, dtype, copy])

In [ ]:
import pandas as pd

In [ ]:
data={"name":["Bill","Tom","Tim","John","Alex","Vanessa","Kate"],      
      "score":[90,80,85,75,95,60,65],      
      "sport":["Wrestling","Football","Skiing","Swimming","Tennis",
               "Karete","Surfing"],      
      "sex":["M","M","M","M","F","F","F"]}
print(type(data))

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

In [ ]:
df=pd.DataFrame(data,columns=["name","sport","sex","score"])
df

In [ ]:
df.head()

In [ ]:
df.tail() # Return the last n rows, by default 5

In [ ]:
df.tail(3)

In [ ]:
df.head(2)

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"]) # add new column
df

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"],
                index=["one","two","three","four","five","six","seven"])
df

In [ ]:
df["sport"]

In [ ]:
my_columns=["name","sport"]
df[my_columns]

In [ ]:
df.sport

In [ ]:
df.loc[["one"]] # Access a group of rows and columns by label(s) or a boolean array.

In [ ]:
df.loc[["one","two"]]

In [ ]:
df["age"]=18

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"], 
                index=["one","two","three","four","five","six","seven"])
values=[18,19,20,18,17,17,18]
df["age"]=values
df

In [ ]:
df["pass"]=df.score>=70 # add new column with values based on condition
df

In [ ]:
del df["pass"]
df

In [ ]:
scores={"Math":{"A":85,"B":90,"C":95}, "Physics":{"A":90,"B":80,"C":75}}

In [ ]:
scores_df=pd.DataFrame(scores)
scores_df

In [ ]:
scores_df.T # transpose row and columns

In [ ]:
scores_df.index.name="name"
scores_df.columns.name="lesson"

In [ ]:
scores_df

In [ ]:
scores_df.values

In [ ]:
scores_index=scores_df.index  #The index (row labels) of the DataFrame.

In [ ]:
scores_index[1]="Jack"  # can't modify index
scores_index

TypeError: Index does not support mutable operations

# Indexing & Selection & Filtering in Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
obj=pd.Series(np.arange(5),
              index=["a","b","c","d","e"])

In [ ]:
obj

In [ ]:
obj["c"]

In [ ]:
obj[2]

In [ ]:
obj[0:3]

In [ ]:
obj[["a","c"]]

In [ ]:
obj[[0,2]]

In [ ]:
obj[obj<2]

In [ ]:
obj["a":"c"]

In [ ]:
obj["b":"c"]=5
obj

## DataFrame Indexing

In [ ]:
data=pd.DataFrame(
    np.arange(16).reshape(4,4),
    index=["London","Paris",
           "Berlin","Istanbul"],
    columns=["one","two","three","four"])
data

          one  two  three  four
London      0    1      2     3
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [ ]:
data["two"]

London       1
Paris        5
Berlin       9
Istanbul    13
Name: two, dtype: int32

In [ ]:
data[["one","two"]]

          one  two
London      0    1
Paris       4    5
Berlin      8    9
Istanbul   12   13

In [ ]:
data[:3]

        one  two  three  four
London    0    1      2     3
Paris     4    5      6     7
Berlin    8    9     10    11

In [ ]:
data[data["four"]>5]

          one  two  three  four
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [ ]:
data[data<5]=0
data

          one  two  three  four
London      0    0      0     0
Paris       0    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

## Selecting with iloc and loc

# Some Useful Methods in Pandas

In [ ]:
# Purely integer-location based indexing for selection by position.
data.iloc[1]  # first index row

In [ ]:
data.iloc[1,[1,2,3]]

In [ ]:
data.iloc[[1,3],[1,2,3]]

In [ ]:
data.loc["Paris",["one","two"]]

In [ ]:
data.loc[:"Paris","four"]

In [ ]:
toy_data=pd.Series(np.arange(5),
                   index=["a","b","c",
                          "d","e"])
toy_data

In [ ]:
toy_data[-1]

In [ ]:
data=pd.DataFrame(np.arange(16).reshape(4,4),
                  index=["Kate","Tim",
                         "Tom","Alex"],
                  columns=list("ABCD"))
data

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [ ]:
data.drop(["Kate","Tim"])

In [ ]:
data.drop("A",axis=1)

In [ ]:
data.drop("Kate",axis=0)

In [ ]:
data

In [ ]:
data.mean(axis="index") # axiz parameter useless for series axis{index (0), columns (1)}

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [ ]:
data.mean(axis="columns")

Kate     1.5
Tim      5.5
Tom      9.5
Alex    13.5
dtype: float64

# Sorting & Ranking in Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s=pd.Series(range(5),
            index=["e","d","a","b","c"])
s

In [ ]:
s.sort_index()

In [ ]:
df=pd.DataFrame(
    np.arange(12).reshape(3,4),
    index=["two","one","three"],
    columns=["d","a","b","c"])
df

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(axis=1)

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
s2=pd.Series([5,np.nan,3,-1,9])
s2

In [ ]:
s2.sort_values()

In [ ]:
df2=pd.DataFrame(
    {"a":[5,3,-1,9],"b":[1,-2,0,5]})
df2

In [ ]:
df2.sort_values(by="b")

In [ ]:
df2.sort_values(by=["b","a"])

# Summarizing & Computing Descriptive Statistics

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(
    [[2.4,np.nan],[6.3,-5.4],
     [np.nan,np.nan],[0.75,-1.3]],
    index=["a","b","c","d"],
    columns=["one","two"])
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df.sum()

one    9.45
two   -6.70
dtype: float64

In [ ]:
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [ ]:
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [ ]:
df.mean(axis=1,skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [ ]:
df.idxmax() # Return index of first occurrence of maximum over requested axis.

one    b
two    d
dtype: object

In [ ]:
df.idxmin()

one    d
two    b
dtype: object

In [ ]:
df.cumsum() # Returns a DataFrame or Series of the same size containing the cumulative sum.

    one  two
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [ ]:
df.describe()

         one       two
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

To find the correlation coefficient, let's first import the famous iris data set. You can download iris data set from https://archive.ics.uci.edu/ml/datasets/iris.

In [ ]:
iris=pd.read_csv("Data/iris.data", 
                 sep=",",
                 header=None)

In [ ]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
iris.columns=['sepal_length','sepal_width',
             'petal_length','petal_width',
             'class']

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
iris.corr() # Compute pairwise correlation of columns, excluding NA/null values.

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [ ]:
iris["sepal_length"].corr(iris["sepal_width"])

-0.10936924995064938

In [ ]:
iris.cov() # 	Compute pairwise covariance of columns, excluding NA/null values.

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414

In [ ]:
iris.corrwith(iris.petal_length)

sepal_length    0.871754
sepal_width    -0.420516
petal_length    1.000000
petal_width     0.962757
dtype: float64

# Data Reading & Writting in Pandas

In [ ]:
import pandas as pd  
import numpy as np

In [ ]:
df2=pd.read_table("Data/data2.txt")
df2

    Tom,80,M
0   Tim,85,M
1   Kim,70,M
2  Kate,90,F
3  Alex,75,F

In [ ]:
df2=pd.read_table("Data/data2.txt", sep=",")
df2

    Tom  80  M
0   Tim  85  M
1   Kim  70  M
2  Kate  90  F
3  Alex  75  F

In [ ]:
df=pd.read_table("Data/data2.txt", sep=",")
df

    Tom  80  M
0   Tim  85  M
1   Kim  70  M
2  Kate  90  F
3  Alex  75  F

In [ ]:
df=pd.read_table("Data/data2.txt",
                 sep=",",
                 header=None)
df

      0   1  2
0   Tom  80  M
1   Tim  85  M
2   Kim  70  M
3  Kate  90  F
4  Alex  75  F

In [ ]:
df=pd.read_table("Data/data2.txt",
                 sep=",",
                 header=None, 
                 names=["name","score","sex"])
df

   name  score sex
0   Tom     80   M
1   Tim     85   M
2   Kim     70   M
3  Kate     90   F
4  Alex     75   F

In [ ]:
df=pd.read_table("Data/data2.txt",
                 sep=",",header=None, 
                 names=["name","score","sex"],
                 index_col="name")
df

      score sex
name
Tom      80   M
Tim      85   M
Kim      70   M
Kate     90   F
Alex     75   F

In [ ]:
df3=pd.read_table("Data/data4.txt",sep=",")
df3

                          #hello
name                score    sex
#scores of students NaN      NaN
Tim                 80         M
Kate                85         F
Alex                70         M
Tom                 90         M
Kim                 75         F

In [ ]:
df3=pd.read_table("Data/data4.txt",
                  sep=",", 
                  skiprows=[0,2])
df3

   name  score sex
0   Tim     80   M
1  Kate     85   F
2  Alex     70   M
3   Tom     90   M
4   Kim     75   F

In [ ]:
df3=pd.read_table("Data/data4.txt",
                  sep=",", 
                  skiprows=[0,2],
                  usecols=[0,1])
df3

   name  score
0   Tim     80
1  Kate     85
2  Alex     70
3   Tom     90
4   Kim     75

In [ ]:
df3=pd.read_table("Data/data4.txt",
                  sep=",", 
                  skiprows=[0,2],
                  usecols=[0,1],
                  nrows=3)
df3

   name  score
0   Tim     80
1  Kate     85
2  Alex     70

## Writing Data

In [ ]:
df=pd.read_csv("data.txt",sep="\t")
df

  name  score sex
0  Tim     80   M
1  Tom     85   M
2  Kim     70   F
3  Sam     90   M
4  Efe     75   M

In [ ]:
df.to_csv("new_data.csv")

# Missing Data in Pandas

In pandas, a missing value (NA: not available) is mainly represented by nan (not a number). None is also considered a missing value.

If you read a CSV file with missing values, NaN is generated. 

 we can Detect and count missing values (NaN) with isnull(), isna()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s=pd.Series(["Sam",np.nan,"Tim","Kim"])
s

0    Sam
1    NaN
2    Tim
3    Kim
dtype: object

In [ ]:
s.isnull()

0    False
1     True
2    False
3    False
dtype: bool

In [ ]:
s.notnull()

0     True
1    False
2     True
3     True
dtype: bool

In [ ]:
s[3]=None
s.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [ ]:
s.dropna()

0    Sam
2    Tim
dtype: object

In [ ]:
from numpy import nan as NA

In [ ]:
df=pd.DataFrame([[1,2,3],[4,NA,5],
                 [NA,NA,NA]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

**Excercise**

Create csv file with 4 rows and column with some missing data. Load the file in dataframe and check.

Remove missing values (NaN) with dropna()

Replace missing values (NaN) with fillna()

In [ ]:
df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [ ]:
df.dropna(how="all")

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0

In [ ]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [ ]:
df[1]=NA
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [ ]:
df.dropna(axis=1,how="all")

     0    2
0  1.0  3.0
1  4.0  5.0
2  NaN  NaN

In [ ]:
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [ ]:
df.dropna(thresh=3)
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [ ]:
df.fillna(0)

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [ ]:
df.fillna({0:15,1:25,2:35})

      0     1     2
0   1.0  25.0   3.0
1   4.0  25.0   5.0
2  15.0  25.0  35.0

In [ ]:
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [ ]:
df.fillna(0,inplace=True)
df

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [ ]:
df=pd.DataFrame([[1,2,3],[4,NA,5],
                 [NA,NA,NA]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [ ]:
df.fillna(method="ffill")

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  2.0  5.0

In [ ]:
df.fillna(method="ffill",limit=1)

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  NaN  5.0

In [ ]:
data=pd.Series([1,0,NA,5])
data

NameError: ignored

In [ ]:
data.fillna(data.mean())

0    1.0
1    0.0
2    2.0
3    5.0
dtype: float64

In [ ]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [ ]:
df.fillna(df.mean())

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  2.5  2.0  4.0

# Hierarchical Indexing in Pandas

Hierarchical Indexes are also known as multi-indexing is setting more than one column name as the index.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.Series(np.random.randn(8),
               index=[["a","a","a","b",
                       "b","b","c","c"],
                      [1,2,3,1,2,3,1,2]])
data

a  1    0.022235
   2    0.007393
   3   -3.081152
b  1   -0.673017
   2   -0.034024
   3    0.679701
c  1    1.175051
   2    0.916181
dtype: float64

In [ ]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2)],
           )

In [ ]:
data["a"]

1    0.022235
2    0.007393
3   -3.081152
dtype: float64

In [ ]:
data["b":"c"]

b  1   -0.673017
   2   -0.034024
   3    0.679701
c  1    1.175051
   2    0.916181
dtype: float64

In [ ]:
data.loc[["a","c"]]

a  1    0.022235
   2    0.007393
   3   -3.081152
c  1    1.175051
   2    0.916181
dtype: float64

In [ ]:
data.loc[:,1]

a    0.022235
b   -0.673017
c    1.175051
dtype: float64

In [ ]:
data.unstack()

          1         2         3
a  0.022235  0.007393 -3.081152
b -0.673017 -0.034024  0.679701
c  1.175051  0.916181       NaN

In [ ]:
data.unstack().stack()

a  1    0.022235
   2    0.007393
   3   -3.081152
b  1   -0.673017
   2   -0.034024
   3    0.679701
c  1    1.175051
   2    0.916181
dtype: float64

In [ ]:
df=pd.DataFrame(
    np.arange(12).reshape(4,3),
    index=[["a","a","b","b"],
           [1,2,1,2]],
    columns=[["num","num","ver"],
             ["math","stat","geo"]])
df

     num      ver
    math stat geo
a 1    0    1   2
  2    3    4   5
b 1    6    7   8
  2    9   10  11

In [ ]:
df.index.names=["class","exam"]
df.columns.names=["field","lesson"]
df

field       num      ver
lesson     math stat geo
class exam
a     1       0    1   2
      2       3    4   5
b     1       6    7   8
      2       9   10  11

In [ ]:
df["num"]

lesson      math  stat
class exam
a     1        0     1
      2        3     4
b     1        6     7
      2        9    10

In [ ]:
df.swaplevel("class","exam")

field       num      ver
lesson     math stat geo
exam class
1    a        0    1   2
2    a        3    4   5
1    b        6    7   8
2    b        9   10  11

In [ ]:
df.sort_index(level=1)

field       num      ver
lesson     math stat geo
class exam
a     1       0    1   2
b     1       6    7   8
a     2       3    4   5
b     2       9   10  11

## Summary Statistics by Level

In [ ]:
df.sum(level="exam")

field   num      ver
lesson math stat geo
exam
1         6    8  10
2        12   14  16

In [ ]:
df.sum(level="field",axis=1)

field       num  ver
class exam
a     1       1    2
      2       7    5
b     1      13    8
      2      19   11

# What is Groupby in Pandas?

**GroupBy: Split, Apply, Combine**
Simple aggregations can give you a flavor of your dataset, but often we would prefer to aggregate conditionally on some label or index: this is implemented in the so-called groupby operation. 

Split, apply, combine
A canonical example of this split-apply-combine operation, where the "apply" is a summation aggregation, is illustrated in this figure:

![03.08-split-apply-combine.png]()

This makes clear what the groupby accomplishes:

The split step involves breaking up and grouping a DataFrame depending on the value of the specified key.
The apply step involves computing some function, usually an aggregate, transformation, or filtering, within the individual groups.
The combine step merges the results of these operations into an output array.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(
    {"key1":list("aabbab"),
     "key2":["one","two","three"]*2,
     "data1":np.random.randn(6),
     "data2":np.random.randn(6)})
df

  key1   key2     data1     data2
0    a    one -0.181300 -0.117877
1    a    two -0.331602  1.733749
2    b  three  1.630105 -0.089191
3    b    one -0.773108  0.648697
4    a    two -0.762109  0.836605
5    b  three  0.465179 -1.863362

In [ ]:
group=df["data1"].groupby(df["key1"])

In [ ]:
group

In [ ]:
group.mean()

key1
a   -0.394878
b    0.487807
Name: data1, dtype: float64

In [ ]:
ave=df["data1"].groupby([df["key1"],
                         df["key2"]]).mean()
ave

key1  key2
a     one      0.128979
      two     -0.656807
b     one      2.135132
      three   -0.335856
Name: data1, dtype: float64

In [ ]:
ave.unstack()

key2       one     three       two
key1
a     0.128979       NaN -0.656807
b     2.135132 -0.335856       NaN

In [ ]:
df.groupby("key1").mean()

         data1     data2
key1
a    -0.394878  0.463463
b     0.487807 -0.548499

In [ ]:
df.groupby(["key1","key2"]).mean()

               data1     data2
key1 key2
a    one    0.128979  0.903436
     two   -0.656807  0.243476
b    one    2.135132 -0.996191
     three -0.335856 -0.324653

## Application with Real Data Set

In [ ]:
game=pd.read_csv("vgsalesGlobale.csv")

In [ ]:
game.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
game.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [ ]:
game.dropna().describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.405561,0.265647,0.147731,0.078833,0.048426,0.540910
std,4792.654450,5.832412,0.822432,0.509303,0.311879,0.190083,1.567345
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8292.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [ ]:
game.Global_Sales.mean()

0.5374406555006628

In [ ]:
group=game.groupby("Genre")

In [ ]:
group["Global_Sales"].count()

Genre
Action          3316
Adventure       1286
Fighting         848
Misc            1739
Platform         886
Puzzle           582
Racing          1249
Role-Playing    1488
Shooter         1310
Simulation       867
Sports          2346
Strategy         681
Name: Global_Sales, dtype: int64

In [ ]:
group["Global_Sales"].describe()

               count      mean       std   min   25%    50%     75%    max
Genre
Action        3316.0  0.528100  1.156427  0.01  0.07  0.190  0.5000  21.40
Adventure     1286.0  0.185879  0.513280  0.01  0.02  0.060  0.1600  11.18
Fighting       848.0  0.529375  0.955965  0.01  0.08  0.210  0.5500  13.04
Misc          1739.0  0.465762  1.314886  0.01  0.06  0.160  0.4100  29.02
Platform       886.0  0.938341  2.585254  0.01  0.09  0.280  0.7900  40.24
Puzzle         582.0  0.420876  1.561716  0.01  0.04  0.110  0.3075  30.26
Racing        1249.0  0.586101  1.662437  0.01  0.07  0.190  0.5300  35.82
Role-Playing  1488.0  0.623233  1.707909  0.01  0.07  0.185  0.5225  31.37
Shooter       1310.0  0.791885  1.817263  0.01  0.08  0.230  0.7275  28.31
Simulation     867.0  0.452364  1.195255  0.01  0.05  0.160  0.4200  24.76
Sports        2346.0  0.567319  2.089716  0.01  0.09  0.220  0.5600  82.74
Strategy       681.0  0.257151  0.520908  0.01  0.04  0.090  0.2700   5.45

In [ ]:
game[game.Genre=="Action"].Global_Sales.mean()

0.5281001206272617

In [ ]:
group.mean()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,
Action,7973.879071,2007.909929,0.264726,0.158323,0.048236,0.056508,0.528100
Adventure,11532.787714,2008.130878,0.082271,0.049868,0.040490,0.013072,0.185879
Fighting,7646.511792,2004.630383,0.263667,0.119481,0.103007,0.043255,0.529375
Misc,8561.847039,2007.258480,0.235906,0.124198,0.061967,0.043312,0.465762
Platform,6927.251693,2003.820776,0.504571,0.227573,0.147596,0.058228,0.938341
Puzzle,9627.381443,2005.243433,0.212680,0.087251,0.098471,0.021564,0.420876
Racing,7961.515612,2004.840131,0.287766,0.190865,0.045388,0.061865,0.586101
Role-Playing,8086.174731,2007.055744,0.219946,0.126384,0.236767,0.040060,0.623233
Shooter,7369.367939,2005.918877,0.444733,0.239137,0.029221,0.078389,0.791885
Simulation,8626.085352,2006.567568,0.211430,0.130773,0.073472,0.036355,0.452364
Sports,7425.026428,2005.477865,0.291283,0.160635,0.057702,0.057532,0.567319
Strategy,10071.897210,2005.599106,0.100881,0.066579,0.072628,0.016681,0.257151

# Aggregation and grouping

The following table summarizes some other built-in Pandas aggregations:

**Aggregation -	Description**

count() -	Total number of items

first(), last()	- First and last item

mean(), median()	- Mean and median

min(), max()	- Minimum and maximum

std(), var()	- Standard deviation and variance

mad()	- Mean absolute deviation

prod()	- Product of all items

sum()	- Sum of all items

**These are all methods of DataFrame and Series objects.**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame({"key":list("ABC")*2,
                 "data1":range(6),
                 "data2":np.arange(5,11)})

In [ ]:
df

  key  data1  data2
0   A      0      5
1   B      1      6
2   C      2      7
3   A      3      8
4   B      4      9
5   C      5     10

In [ ]:
group=df.groupby("key")

In [ ]:
group.aggregate(["min",np.median,"max","count","sum"])

    data1                      data2
      min median max count sum   min median max count sum
key
A       0    1.5   3     2   3     5    6.5   8     2  13
B       1    2.5   4     2   5     6    7.5   9     2  15
C       2    3.5   5     2   7     7    8.5  10     2  17

# Pivot Tables

Pivot table in pandas is an excellent tool to summarize one or more numeric variable based on two other categorical variables. Pivot tables in pandas are popularly seen in MS Excel files. In python, Pivot tables of pandas dataframes can be created using the command: pandas.pivot_table.

You can aggregate a numeric column as a cross tabulation against two categorical columns.

**Syntax**

pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc=’mean’, fill_value=None, margins=False, dropna=True, margins_name=’All’, observed=False)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(
    {"class":list("ABC")*4,
     "lesson":["math","stat"]*6,
     "sex":list("MFMM")*3,
     "sibling":[1,2,3]*4,
     "score":np.arange(40,100,5)})

In [ ]:
df

   class lesson sex  sibling  score
0      A   math   M        1     40
1      B   stat   F        2     45
2      C   math   M        3     50
3      A   stat   M        1     55
4      B   math   M        2     60
5      C   stat   F        3     65
6      A   math   M        1     70
7      B   stat   M        2     75
8      C   math   M        3     80
9      A   stat   F        1     85
10     B   math   M        2     90
11     C   stat   M        3     95

In [ ]:
df.groupby("lesson")["score"].mean()

lesson
math    65.0
stat    70.0
Name: score, dtype: float64

In [ ]:
df.groupby(
    ["lesson",
     "class"])[
    "score"].aggregate("mean").unstack()

class    A   B   C
lesson
math    55  75  65
stat    70  60  80

In [ ]:
df.pivot_table(
    "score",
    index="lesson",
    columns="class")

class    A   B   C
lesson
math    55  75  65
stat    70  60  80

In [ ]:
df.pivot_table(
    ["sibling","score"],
    index=["class","lesson"],
    columns="sex")

             score       sibling
sex              F     M       F    M
class lesson
A     math     NaN  55.0     NaN  1.0
      stat    85.0  55.0     1.0  1.0
B     math     NaN  75.0     NaN  2.0
      stat    45.0  75.0     2.0  2.0
C     math     NaN  65.0     NaN  3.0
      stat    65.0  95.0     3.0  3.0

In [ ]:
df.pivot_table(
    ["sibling","score"],
    index=["class","lesson"],
    columns="sex",margins=True)

             score                  sibling
sex              F          M   All       F    M All
class lesson
A     math     NaN  55.000000  55.0     NaN  1.0   1
      stat    85.0  55.000000  70.0     1.0  1.0   1
B     math     NaN  75.000000  75.0     NaN  2.0   2
      stat    45.0  75.000000  60.0     2.0  2.0   2
C     math     NaN  65.000000  65.0     NaN  3.0   3
      stat    65.0  95.000000  80.0     3.0  3.0   3
All           65.0  68.333333  67.5     2.0  2.0   2

In [ ]:
df.pivot_table(
    ["sibling","score"],
    index=["class","lesson"],
    columns="sex",fill_value=0)

             score     sibling
sex              F   M       F  M
class lesson
A     math       0  55       0  1
      stat      85  55       1  1
B     math       0  75       0  2
      stat      45  75       2  2
C     math       0  65       0  3
      stat      65  95       3  3

## Multi-level pivot tables

In [ ]:
sib=pd.cut(df["sibling"],[0,2,3])

In [ ]:
df.pivot_table("score",
               ["lesson",sib],
               "class",fill_value=0)

class            A   B   C
lesson sibling
math   (0, 2]   55  75   0
       (2, 3]    0   0  65
stat   (0, 2]   70  60   0
       (2, 3]    0   0  80

In [ ]:
df.pivot_table(
    "score",
    index="lesson",
    columns="class")

class    A   B   C
lesson
math    55  75  65
stat    70  60  80

In [ ]:
df.pivot_table(
    index="lesson",
    columns="class",
    aggfunc="sum")

       score           sibling
class      A    B    C       A  B  C
lesson
math     110  150  130       2  4  6
stat     140  120  160       2  4  6

In [ ]:
df.pivot_table(
    index="lesson",
    columns="class",
    aggfunc={"sibling":"max",
             "score":"sum"})

       score           sibling
class      A    B    C       A  B  C
lesson
math     110  150  130       1  2  3
stat     140  120  160       1  2  3

## Cross-Tabulations: Crosstab

In [ ]:
pd.crosstab(df.sibling,df.lesson)

lesson   math  stat
sibling
1           2     2
2           2     2
3           2     2

In [ ]:
pd.crosstab([df.sibling, df.lesson], df.sex)

sex             F  M
sibling lesson
1       math    0  2
        stat    1  1
2       math    0  2
        stat    1  1
3       math    0  2
        stat    1  1

You can download the data set from https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv

In [ ]:
births=pd.read_csv("births.txt")

In [ ]:
births.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [ ]:
births["ten_year"]=10*(births["year"]//10)
births.pivot_table("births",
                   index="ten_year",
                   columns="gender",
                   aggfunc="sum")

gender           F         M
ten_year
1960       1753634   1846572
1970      16263075  17121550
1980      18310351  19243452
1990      19479454  20420553
2000      18229309  19106428

# Working with Text Data

In [ ]:
"hello".upper()

'HELLO'

## Vectorized String Functions

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=["tim","Kate","SUSan",np.nan,"aLEX"]

In [ ]:
name=pd.Series(data)

In [ ]:
name.str.capitalize()

0      Tim
1     Kate
2    Susan
3      NaN
4     Alex
dtype: object

In [ ]:
name.str.lower()

0      tim
1     kate
2    susan
3      NaN
4     alex
dtype: object

In [ ]:
name.str.len()

0    3.0
1    4.0
2    5.0
3    NaN
4    4.0
dtype: float64

In [ ]:
name.str.startswith("a")

0    False
1    False
2    False
3      NaN
4     True
dtype: object

In [ ]:
df=pd.DataFrame(
    np.random.randn(3,2),
    columns=["Column A","Column B"],
    index=range(3))
df

   Column A  Column B
0 -0.459978  0.200495
1  0.739367 -2.557691
2  0.371356  0.086189

In [ ]:
df.columns

Index(['Column A', 'Column B'], dtype='object')

In [ ]:
df.columns.str.lower().str.replace(" ","_")

Index(['column_a', 'column_b'], dtype='object')

In [ ]:
s=pd.Series(["a_b_c","c_d_e",np.nan,"f_g_h"])
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [ ]:
s.str.split("_").str[1]

0      b
1      d
2    NaN
3      g
dtype: object

In [ ]:
s.str.split("_",expand=True,n=1)

     0    1
0    a  b_c
1    c  d_e
2  NaN  NaN
3    f  g_h

In [ ]:
money=pd.Series(["15","-$20","$30000"])
money

0        15
1      -$20
2    $30000
dtype: object

In [ ]:
money.str.replace("-\$","")

0        15
1        20
2    $30000
dtype: object

In [ ]:
money.str.replace("-\$","-")

0        15
1       -20
2    $30000
dtype: object

You can use google or pandas.pydata.org to see the string methods of Pandas documentation.

In [ ]:
film=pd.read_csv("http://bit.ly/imdbratings")

In [ ]:
film.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
film.title.str.upper()

0                             THE SHAWSHANK REDEMPTION
1                                        THE GODFATHER
2                               THE GODFATHER: PART II
3                                      THE DARK KNIGHT
4                                         PULP FICTION
                            ...
974                                            TOOTSIE
975                        BACK TO THE FUTURE PART III
976    MASTER AND COMMANDER: THE FAR SIDE OF THE WORLD
977                                        POLTERGEIST
978                                        WALL STREET
Name: title, Length: 979, dtype: object

In [ ]:
film.columns=film.columns.str.capitalize()

In [ ]:
film.head()

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
film[film.Actors_list.str.contains(
    "Brad Pitt")]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
106,8.3,Snatch.,R,Comedy,102,"[u'Jason Statham', u'Brad Pitt', u'Benicio Del..."
114,8.3,Inglourious Basterds,R,Adventure,153,"[u'Brad Pitt', u'Diane Kruger', u'Eli Roth']"
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
508,7.8,The Curious Case of Benjamin Button,PG-13,Drama,166,"[u'Brad Pitt', u'Cate Blanchett', u'Tilda Swin..."
577,7.8,Ocean's Eleven,PG-13,Crime,116,"[u'George Clooney', u'Brad Pitt', u'Julia Robe..."
683,7.7,Fury,R,Action,134,"[u'Brad Pitt', u'Shia LaBeouf', u'Logan Lerman']"
776,7.6,Moneyball,PG-13,Biography,133,"[u'Brad Pitt', u'Robin Wright', u'Jonah Hill']"
779,7.6,Interview with the Vampire: The Vampire Chroni...,R,Horror,123,"[u'Brad Pitt', u'Tom Cruise', u'Antonio Bander..."
807,7.6,The Assassination of Jesse James by the Coward...,R,Biography,160,"[u'Brad Pitt', u'Casey Affleck', u'Sam Shepard']"
826,7.5,Sleepers,R,Crime,147,"[u'Robert De Niro', u'Kevin Bacon', u'Brad Pitt']"
877,7.5,Legends of the Fall,R,Drama,133,"[u'Brad Pitt', u'Anthony Hopkins', u'Aidan Qui..."
901,7.5,Babel,R,Drama,143,"[u'Brad Pitt', u'Cate Blanchett', u'Gael Garc\..."

In [ ]:
film.Actors_list.str.replace("[","")

0      u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton']
1         u'Marlon Brando', u'Al Pacino', u'James Caan']
2      u'Al Pacino', u'Robert De Niro', u'Robert Duva...
3      u'Christian Bale', u'Heath Ledger', u'Aaron Ec...
4      u'John Travolta', u'Uma Thurman', u'Samuel L. ...
                             ...
974    u'Dustin Hoffman', u'Jessica Lange', u'Teri Ga...
975    u'Michael J. Fox', u'Christopher Lloyd', u'Mar...
976    u'Russell Crowe', u'Paul Bettany', u'Billy Boyd']
977    u'JoBeth Williams', u"Heather O'Rourke", u'Cra...
978    u'Charlie Sheen', u'Michael Douglas', u'Tamara...
Name: Actors_list, Length: 979, dtype: object

In [ ]:
film.Actors_list.str.replace(
    "[","").str.replace("]","")

0       u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'
1          u'Marlon Brando', u'Al Pacino', u'James Caan'
2      u'Al Pacino', u'Robert De Niro', u'Robert Duvall'
3      u'Christian Bale', u'Heath Ledger', u'Aaron Ec...
4      u'John Travolta', u'Uma Thurman', u'Samuel L. ...
                             ...
974    u'Dustin Hoffman', u'Jessica Lange', u'Teri Garr'
975    u'Michael J. Fox', u'Christopher Lloyd', u'Mar...
976     u'Russell Crowe', u'Paul Bettany', u'Billy Boyd'
977    u'JoBeth Williams', u"Heather O'Rourke", u'Cra...
978    u'Charlie Sheen', u'Michael Douglas', u'Tamara...
Name: Actors_list, Length: 979, dtype: object

# Time Series Basics with Pandas

## What is the time series?

A time series is any data set where the values are measured at different points in time. Many time series are uniformly spaced at a specific frequency, for example, hourly weather measurements, daily counts of web site visits, or monthly sales totals. Time series can also be irregularly spaced and sporadic, for example, timestamped data in a computer system’s event log or a history of 911 emergency calls. Pandas time series tools apply equally well to either type of time series.

**How to simply create a time series?**

To show how to create a time series, first, let’s import Pandas, Numpy, and datetime.

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

Let’s create a date variable that contains the dates.

In [ ]:
date=[datetime(2020,1,5),
      datetime(2020,1,10),
      datetime(2020,1,15),
      datetime(2020,1,20),
      datetime(2020,1,25)]

With this date object, let me create a series.

In [ ]:
ts=pd.Series(np.random.randn(5),index=date)
ts

2020-01-05    1.021772
2020-01-10    0.132016
2020-01-15   -0.838591
2020-01-20   -0.749657
2020-01-25    1.043829
dtype: float64

Let’s take a look at the index of this variable.

As you can see, the index data structure of this variable is a DatatimeIndex.

In [ ]:
ts.index

DatetimeIndex(['2020-01-05', '2020-01-10', '2020-01-15', '2020-01-20',
               '2020-01-25'],
              dtype='datetime64[ns]', freq=None)

## Time Series Data Structures

You can use three data structures to work with the time series. The first of these is Timestamps. Time stamps reference particular moments in time (e.g., June 5th, 2022 at 8:00 pm). This structure is similar to Python’s datetime module. But it is more useful. The index structure associated with this structure is DatetimeIndex.

For time Periods, Pandas provides the Period structure. The period consists of a time span with start and end dates. This structure is based on fixed interval dates. The index structure associated with this type is PeriodIndex.

For time deltas or durations, Pandas provides the Timedelta structure. Shows the time between two dates. The index structure associated with this structure is TimedeltaIndex.

The most used of these structures are Timestamps and DatetimeIndex objects. To convert a single date to Timestamps, you can use the to_datetime method.

In [ ]:
pd.to_datetime("01/01/2020")

Timestamp('2020-01-01 00:00:00')

In [ ]:
dates=pd.to_datetime(
    [datetime(2020,7,5),
     "6th of July, 2020",
     "2020-Jul-7",
     "20200708"])
dates

DatetimeIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='datetime64[ns]', freq=None)

In [ ]:
dates.to_period("D")

PeriodIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='period[D]', freq='D')

In [ ]:
dates-dates[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq=None)

## Creating a Time Series

Pandas has various functions to create a date series. You can use the date_range method for timestamps, the period_range method for the period, and the timedelta_range method for time delta data.

The date_range method is used to get a fixed frequency DatetimeIndex. As you know, the range method in python and the arange method in numpy take the start point, end point, and step number parameters. Likewise, the date_range method takes the start date, the end date, and periods to create a date series. For example;

In [ ]:
pd.date_range("2020-08-15","2020-09-01")

DatetimeIndex(['2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
               '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
               '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
               '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
               '2020-08-31', '2020-09-01'],
              dtype='datetime64[ns]', freq='D')

you can use the date range with the period parameter. To do this, you only need to enter the starting date.

In [ ]:
pd.date_range('2020-07-15', periods=10)

DatetimeIndex(['2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18',
               '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22',
               '2020-07-23', '2020-07-24'],
              dtype='datetime64[ns]', freq='D')

You can also use the freq parameter while creating a date range. By default, the frequency of the date_range method is daily. If you want to take the frequency as hours, you can use the “H” value that represents the hour.

In [ ]:
pd.date_range("2020-07-15",
              periods=10,
              freq="H")

DatetimeIndex(['2020-07-15 00:00:00', '2020-07-15 01:00:00',
               '2020-07-15 02:00:00', '2020-07-15 03:00:00',
               '2020-07-15 04:00:00', '2020-07-15 05:00:00',
               '2020-07-15 06:00:00', '2020-07-15 07:00:00',
               '2020-07-15 08:00:00', '2020-07-15 09:00:00'],
              dtype='datetime64[ns]', freq='H')

To create a time series, you can also use the period_range and the timedelta_range methods.

In [ ]:
pd.period_range("2020-10", 
                periods=10,
                freq="M")

PeriodIndex(['2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03',
             '2021-04', '2021-05', '2021-06', '2021-07'],
            dtype='period[M]', freq='M')

Let’s create a time series with one hour increment

In [ ]:
pd.timedelta_range(0,periods=8,freq="H")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00'],
               dtype='timedelta64[ns]', freq='H')

Time series can be indexed and selected like series structure in pandas. For example, let’s assign index 1 of the ts time series to a variable.

In [ ]:
stamp=ts.index[1]
stamp

Timestamp('2020-01-10 00:00:00')

In [ ]:
# the value of this stamp
ts[stamp]

0.1320158576081964

In [ ]:
# You can use a date index to select a value
ts["25.1.2020"]

1.0438287426871447

In [ ]:
# OR
ts["20200125"]

1.0438287426871447

In [ ]:
# long-time series
long_ts=pd.Series(
    np.random.randn(1000),
    index=pd.date_range("1/1/2020",
                        periods=1000))
long_ts.head()

2020-01-01   -0.563091
2020-01-02   -0.696792
2020-01-03   -1.171112
2020-01-04    0.140425
2020-01-05    1.861661
Freq: D, dtype: float64

In [ ]:
# Let’s take a look at the values for 2020.
long_ts["2020"].head()

2020-01-01   -0.563091
2020-01-02   -0.696792
2020-01-03   -1.171112
2020-01-04    0.140425
2020-01-05    1.861661
Freq: D, dtype: float64

In [ ]:
# You can write this year with a month.
long_ts["2020-10"].head(15)

2020-10-01   -0.074736
2020-10-02   -0.376618
2020-10-03    0.846641
2020-10-04    0.625867
2020-10-05   -0.723827
2020-10-06    0.588691
2020-10-07   -0.105803
2020-10-08   -2.083312
2020-10-09    1.587779
2020-10-10   -1.055614
2020-10-11   -1.249746
2020-10-12   -0.501513
2020-10-13   -1.527727
2020-10-14    0.757313
2020-10-15    1.649080
Freq: D, dtype: float64

In [ ]:
# You can slice the time series.
long_ts[datetime(2022,9,20):]

2022-09-20   -0.544946
2022-09-21    0.724151
2022-09-22   -0.733824
2022-09-23    0.809910
2022-09-24   -1.342181
2022-09-25    0.311458
2022-09-26   -1.724693
Freq: D, dtype: float64

## The Important Methods Used in Time Series

In [ ]:
# print the ts variable again.
ts

2020-01-05    1.021772
2020-01-10    0.132016
2020-01-15   -0.838591
2020-01-20   -0.749657
2020-01-25    1.043829
dtype: float64

You can use the truncate method to see the values between two dates. For example, let’s look at the dates until 1/15/2020.

In [ ]:
ts.truncate(after="1/15/2020")

2020-01-05    1.021772
2020-01-10    0.132016
2020-01-15   -0.838591
dtype: float64

So far, you saw a time series that consists of a column. Now, I’m going to want to show you how to work with the data frames. First, let’s create a variable named date with the date_range method.

In [ ]:
date=pd.date_range("1/1/2020",
                   periods=100,
                   freq="W-SUN")

In [ ]:
# Let’s create a data frame that indexes this date variable.
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=date,
                    columns=list("ABCD"))
long_df.head()

                   A         B         C         D
2020-01-05  0.298570  0.541989  0.270855  0.812892
2020-01-12  0.559454  0.052274 -0.129981 -1.355922
2020-01-19 -0.936940 -1.359541  0.060583  0.055678
2020-01-26  1.413215 -1.267353  0.260763  1.158904
2020-02-02 -0.480138  1.104503  0.925559 -0.183879

In [ ]:
# look at the values in the 10th month of 2020 in this dataset.
long_df["2020-10"]

                   A         B         C         D
2020-10-04  0.273074  0.634981 -0.887838  0.148878
2020-10-11  0.108231 -0.053346 -0.520075 -1.125796
2020-10-18 -0.757139 -0.287251 -1.123849  1.163562
2020-10-25  0.550777  0.295018  0.622508 -0.551081

In [ ]:
# In some cases, the dates can be repeated
date=pd.DatetimeIndex(
    ["1/1/2020","1/2/2020","1/2/2020",
     "1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5),index=date)
ts1

2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int32

You can check whether there is a repeating index in the data or not with the is_unique attribute.

In [ ]:
ts1.index.is_unique

False

False indicates that there are repeating indexes. Let’s group repeated dates.

In [ ]:
group=ts1.groupby(level=0)

Let’s find out repeated dates with the count method.

In [ ]:
group.count()

2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

Calculate means of the grouped dates.

In [ ]:
group.mean()

2020-01-01    0
2020-01-02    2
2020-01-03    4
dtype: int32